@keyframes gradientShift {
	0% {
		filter: hue-rotate(0deg) brightness(1);
	}
	50% {
		filter: hue-rotate(10deg) brightness(1.05);
	}
	100% {
		filter: hue-rotate(0deg) brightness(1);
	}
}

@keyframes shimmer {
	0% {
		background-position: 200% 0;
	}
	100% {
		background-position: -100% 0;
	}
}
