@keyframes gradientShift {
	0% {
		background-position: 0% 0%;
	}
	25% {
		background-position: 4% 3%;
	}
	50% {
		background-position: 0% 5%;
	}
	75% {
		background-position: -4% 2%;
	}
	100% {
		background-position: 0% 0%;
	}
}
